
<h1><span class="label label-success">Welcome <%= current_user.first_name %> <%= current_user.last_name %> !</span><h1>
<h2><span class="label label-primary">Phone Number: <%= current_user.phone_num %></span> </h2>

